<div class="dropdown-container">
  <div class="selected-item" #drop>
    {{DropTitle}}
    <img src="../../../../assets/images/Vector.svg">
  </div>
  <div class="dropdown-items" [ngStyle]="{'display':!open ? 'none':'block'}">
    <input class="input-search"
           *ngIf="statusSearch"
           type="text"
           placeholder='{{"Search" | translate}}'
           [(ngModel)]="searchText">

    <hr *ngIf="statusSearch">

    <div class="dropdown-item" *ngFor="let itemName of dropData | searchPipe : searchText"
    >
      <span>{{itemName}}</span>
      <input type="checkbox" class="checkbox">
    </div>

  </div>
</div>
